    <mat-card class="uploader-card">
      <mat-card-header>
        <mat-card-title>Upload Documents</mat-card-title>
        <mat-card-subtitle>Drag and drop files or click to browse</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ngx-file-drop
          dropZoneLabel="Drop files here"
          (onFileDrop)="dropped($event)"
          [showBrowseBtn]="true"
          browseBtnLabel="Choose files"
          [multiple]="true"
          accept=".pdf,.jpeg,.jpg,.png,.webp">
          <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            <button mat-raised-button color="primary" (click)="openFileSelector()">
              Choose Files
            </button>
          </ng-template>
        </ngx-file-drop>
        
        <!-- Upload Progress Section -->
        <div *ngIf="uploads.length > 0" class="upload-progress">
          <h3>Upload Progress</h3>
          <mat-list>
            <mat-list-item *ngFor="let upload of uploads">
              <mat-icon mat-list-icon>
                <ng-container [ngSwitch]="upload.status">
                  <mat-icon *ngSwitchCase="'uploading'">hourglass_top</mat-icon>
                  <mat-icon *ngSwitchCase="'success'">check_circle</mat-icon>
                  <mat-icon *ngSwitchCase="'error'">error</mat-icon>
                </ng-container>
              </mat-icon>
              <div mat-line>{{ upload.fileName }}</div>
              <div mat-line>
                <mat-progress-bar
                  *ngIf="upload.status === 'uploading'"
                  mode="indeterminate">
                </mat-progress-bar>
                <span *ngIf="upload.status !== 'uploading'">{{ getStatusText(upload.status) }}</span>
              </div>
            </mat-list-item>
          </mat-list>
          <button mat-button (click)="clearCompletedUploads()">Clear Completed</button>
        </div>
      </mat-card-content>
    </mat-card>
